{% extends 'base.html' %}

{% block title %}Records | TeleMD{% endblock %}

{% block head %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/table.css') }}">
{% endblock %}

{% block body %}
    <table style="margin: 20px auto;">
        <thead>
            <tr>
                <th>MD</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for a in appointments %}
                <tr onclick="navigator.clipboard.writeText(window.location.origin + '/account/' + this.firstElementChild.innerText)">
                    <td>{{ i[0] }}</td>
                    <td>{{ i[1] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
